{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
<br><br>
<br><br><br>
<div class="container">
    <h4 class="text-center">Generate Report by Blood Group: {{ blood_group }}</h4>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-dark">
            <tr>
                <th scope="col" style="color: rgb(192, 192, 192);">Patient's Name</th>
                <th scope="col" style="color: rgb(192, 192, 192);">Blood Group</th>
                <th scope="col" style="color: rgb(192, 192, 192);">Address</th>
                <th scope="col" style="color: rgb(192, 192, 192);">Contact No.</th>
            </tr>
        </thead>
        <tbody>
            {% for d in donors %}
            <tr>
                <td> {{d.user.first_name}} {{d.last_name}}</td>
                <td>{{d.bloodgroup}}</td>
                <td>{{d.address}}</td>
                <td>{{d.mobile}}</td>
                
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
    
</div>
    

{% endblock content %}


