{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
<br><br>
<br><br><br>
<div class="container">
    <h4 class="text-center">Generate Report by Blood Group or Duration</h4><br>
    <div class="text-center">
        <form method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <select name="bloodgroup" required id="bloodGroupSelect" class="form-control" style="width: 200px; display: inline-block;">
                <option value="">Select Blood Group</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
            </select>
            <button class="btn btn-primary" type="submit">Generate</button>
        </form>
    </div>
    
    <br>

    
    <br>
<div class="text-center">
    <form method="POST" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Generate Report By Duration</button>
    </form>
</div>
    

{% endblock content %}


